<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Direct Comparison</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-logo">
            <a href="/">
                <img src="{{ url_for('static', filename='plagiarismimaged.png') }}" alt="Logo" class="logo-img">
            </a>
        </div>
        <div class="navbar-links">
          <div class="navc">  <a href="/"><div class="nv">Home</div></a></div>
         <div class="navc">   <a href="/db_detection"><div class="nv">Check Plagiarism Against Database</div></a></div>
          <div class="navc">  <a href="/direct_comparison"><div class="nv">Compare Two Texts Directly</div></a></div>
        </div>
    </nav>
    <br>
    <br>
    
    <div class="container">
        <h1>Compare Two Texts</h1>
        <form method="POST" >
            <textarea name="text1" rows="3" cols="50" placeholder="Enter first text..." required></textarea><br>
            <textarea name="text2" rows="3" cols="50" placeholder="Enter second text..." required></textarea><br>
            <button type="submit">Compare Texts</button>
        </form>
    </div>
</body>
</html>
